.social-dragging {
  list-style: none;
}

.wp-block-lg-blocks-team-members {
  display: block;
  margin-left: 0;
  margin-right: 0;

  @for $i from 1 through 6 {
    &.has-#{$i}-columns {
      .block-editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        .wp-block-lg-blocks-team-member {
          flex: 0 0 auto;
          width: calc(calc(100% / #{$i}) - 20px);
        }
      }
    }
  }

  >.editor-inner-blocks>.editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;

    div[data-type="lg-blocks/team-member"] {
      margin: 0;
    }

    .block-list-appender {
      width: 100%;
    }
  }
}
