.lg-post {
  text-align: center;
  margin: 10px;
  > img {
    margin-bottom: 20px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem 2rem;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
  }
  &__link {
    font-weight: 500;
    margin-top: auto;
  }
  &__image {
    img {
      height: auto;
    }
  }
  &__exerpt {
    margin-bottom: 20px;
  }
}

.wp-block-lg-blocks-latest-posts {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  .lg-post.card {
    padding: 0;
    border-radius: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  @for $i from 1 through 6 {
    &.has-#{$i}-columns {
      .lg-post.card {
        width: calc(100% /#{$i} - 20px);
      }
    }
  }
}

@media (max-width: 767px) {
  @for $i from 2 through 6 {
    .wp-block-lg-blocks-latest-posts {
      &.has-#{$i}-columns {
        .lg-post.card {
          width: calc(50% - 20px);
        }
      }
    }
  }
}

@media (max-width: 575px) {
  @for $i from 1 through 6 {
    .wp-block-lg-blocks-latest-posts {
      &.has-#{$i}-columns {
        .lg-post.card {
          width: 100%;
        }
      }
    }
  }
}
