.editor-styles-wrapper {
    .wp-block-lg-blocks-mega-menu {
        >svg {
            max-width: 25px;
            display: none;
        }

        >.block-editor-inner-blocks {
            >.block-editor-block-list__layout {
                display: flex;
                column-gap: 1rem;

                >.wp-block-lg-blocks-mega-submenu {
                    >.block-editor-inner-blocks {
                        >.block-editor-block-list__layout {
                            display: flex;
                            flex-wrap: wrap;

                            >* {
                                flex-basis: 100%;
                            }

                            >.wp-block-lg-blocks-mega-submenu {
                                display: flex;
                                flex-basis: 50%;
                                >.block-editor-inner-blocks {
                                    display: flex;
                                    
                                }
                            }
                        }
                    }

                    &:not(.selected) {
                        >.block-editor-inner-blocks {
                            >.block-editor-block-list__layout {
                                >.wp-block-lg-blocks-mega-submenu {
                                    display: none;
                                    >.block-editor-inner-blocks {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }


            }
        }

        .wp-block-lg-blocks-mega-link:not(.wp-block-lg-blocks-mega-submenu) {
            display: block;
        }

        .wp-block-lg-blocks-font-awesome {
            max-width: unset !important;

            >svg {
                max-width: 75px !important;
            }
        }


    }





}