body {
  overflow-x: hidden;
}

.cta {
  h2 {
    color: inherit;
  }
}
.cta.alignfull {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

.cta__link {
  background-color: #000;
  color: #fff;
}

@media (min-width: 768px) {
  .cta__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin-bottom: 0;
    }
  }
}
