.wp-block[data-type="lg-blocks/cta"] {
  &:before {
    left: 0;
    right: 0;
  }

  max-width: none;

  > .block-editor-block-list__block-edit {
    margin-left: 0;
    margin-right: 0;
  }

  > .block-editor-block-list__insertion-point {
    left: 0;
    right: 0;
  }

  > .block-editor-block-list__block-edit:before {
    left: 0;
    right: 0;
    border-left-width: 0;
    border-right-width: 0;
  }
}

.cta {
  h2 {
    min-width: 300px;
  }
}

.cta__input {
  position: absolute !important;
  border: 0;
  box-shadow: 0 0 5px 1px #ddd;
  right: 0;
}

.editor-styles-wrapper {
  .wp-block[data-type="lg-blocks/cta"][data-align="full"] {
    .container {
      width: 100%;
      max-width: 100%;
    }
  }

  .cta__content h2 {
    margin-bottom: 0;
  }
}
