.editor-styles-wrapper {
  .wp-block-lg-blocks-pricing-table-item {
    ul {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
    }
  }
}

.wp-block-lg-blocks-pricing-table {
  >.block-editor-inner-blocks {
    >.block-editor-block-list__layout {
      display: flex;

      >div {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}

.wp-block-lg-blocks-pricing-table {
  @for $i from 1 through 6 {
    &.has-#{$i}-columns {
      .block-editor-block-list__layout {
        >div {
          flex: 0 0 calc(100% / #{$i});
          max-width: calc(100% / #{$i});
        }
      }
    }
  }

}


@media (min-width: 992px) {
  .wp-block-lg-blocks-pricing-table {
    display: block;

    >div {
      max-width: none !important;
    }
  }
}