.wp-block-lg-blocks-swiper-slider {
  position: relative;
}

.wp-block-lg-blocks-swiper-single-slide {
  position: relative;
  height: auto !important;
}

.swiper-slide__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
  }
}

.swiper-slide__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.swiper-gallery {
  .swiper-slide__img {
    position: static;
    text-align: center;

    img {
      object-fit: none;
      width: auto;
      height: auto;
    }
  }
}
