.editor-styles-wrapper .is-layout-constrained > .wp-block-lg-blocks-font-awesome:where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 100px;
  margin-left: unset !important;
  margin-right: unset !important;
}

.editor-styles-wrapper {
  .wp-block-lg-blocks-font-awesome {
    min-width: 30px !important;
    svg[color="ffffff"] {
      color: red !important;
    }
  }
}