
.longevity-lightbox-modal {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  background-color: #111;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--fancy-background-image, none);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(50px) saturate(150%) brightness(80%);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  .modal-dialog {
    max-width: none !important;
    margin-top: 0;
    margin-bottom: 0;
  }

  .modal-dialog-centered {
    height: 100%;
  }

  .modal-content {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    height: 100%;
  }

  .modal-body {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .close {
    font-size: 3rem;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    img {
      max-height: 90vh;
      object-fit: contain;
    }
  }

  .swiper-pagination-bullet {
    background: #ddd;
  }


}
