#video-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  .modal-dialog {
    width: 100vw;
    height: 100vh;
  }
  .modal-content {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    border: 0;
  }
  .modal-body {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 0;
  }
  .embed-responsive {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .close {
    position: absolute;
    right: 15px;
    top: -8px;
    z-index: 999;
    font-size: 4rem;
    font-weight: normal;
    color: #fff;
    background-color: #000000;
    border: 0;
    opacity: 1;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
  }
}
