.map-text,
.map-text__content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.map-text {
  &__titles {
    text-align: center;
  }

  &__map {
    iframe {
      display: block;
      width: 100%;
      min-height: 450px;
    }
  }
}

@media (min-width: 768px) {
  .map-text__inner {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;

    > * {
      flex: 0 0 50%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .map-text.map-text--sameHeight {
    .map-text__inner {
      margin-left: 0;
      margin-right: 0;
    }

    .map-text__map {
      padding-left: 0;
      padding-right: 0;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .map-text__content {
      padding: 30px;
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 767px) {
  .map-text__content {
    padding: 20px;
  }
}
