.wp-block-lg-blocks-video-banner {
  display: flex;
  align-items: center;
  justify-content: center;

  > .content {
    position: relative;
    z-index: 1;
  }
}

.video-banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
