@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/grid";


@for $i from 1 through 8 {
  .wp-block-lg-blocks-cards.has-#{$i}-columns {
    gap: var(--gap);
    >.wp-block-lg-blocks-card {
      box-sizing: border-box;
      flex: 0 0  calc( calc( 100% / $i ) - calc( var(--gap) - calc( var(--gap) / $i )));
      max-width: calc( calc( 100% / $i ) - calc( var(--gap) - calc( var(--gap) / $i )));
    }
  }
  @media screen and (min-width: 768px) {
    .wp-block-lg-blocks-cards.has-#{$i}-tablet-columns {
      gap: var(--gapTablet);
      >.wp-block-lg-blocks-card {
        box-sizing: border-box;
        flex: 0 0  calc( calc( 100% / $i ) - calc( var(--gapTablet) - calc( var(--gapTablet) / $i )));
        max-width: calc( calc( 100% / $i ) - calc( var(--gapTablet) - calc( var(--gapTablet) / $i )));
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .wp-block-lg-blocks-cards.has-#{$i}-desktop-columns {
      gap: var(--gapDesktop);
      >.wp-block-lg-blocks-card {
        box-sizing: border-box;
        flex: 0 0  calc( calc( 100% / $i ) - calc( var(--gapDesktop) - calc( var(--gapDesktop) / $i )));
        max-width: calc( calc( 100% / $i ) - calc( var(--gapDesktop) - calc( var(--gapDesktop) / $i )));
      }
    }
  }
}

.wp-block-lg-blocks-cards {
  display: flex;
  flex-wrap: wrap;
  .card {
    display: flex;
    &.activateOverlay {
      position: relative;
      overflow: hidden;

      &:hover {
        .card-content {
          &.slide-in-text-top {
            top: 0;
          }

          &.slide-in-text-bottom {
            top: 0;
          }

          &.slide-in-text-left {
            left: 0;
          }

          &.slide-in-text-right {
            left: 0;
          }
        }
      }

      .card-content {
        &.slide-in-text-top {
          height: 100%;
          width: 100%;
          top: -100%;
          transition: 0.5s ease;
        }

        &.slide-in-text-bottom {
          height: 100%;
          width: 100%;
          top: 100%;
          transition: 0.5s ease;
        }

        &.slide-in-text-left {
          height: 100%;
          width: 100%;
          left: -100%;
          transition: 0.5s ease;
        }

        &.slide-in-text-right {
          height: 100%;
          width: 100%;
          left: 100%;
          transition: 0.5s ease;
        }

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .backgroundOverlay {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: var(--overlayDimRatio);
          z-index: 1;
        }

        .card-body {
          position: absolute;
          z-index: 2;
        }
      }

      .card-body>div {
        .lg-card-content {
          // opacity: var(--overlayDimRatio);
          // &:before {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   bottom: 0;
          //   right: 0;
          //   background-color: inherit;
          //   z-index: 0;
          // }
          position: absolute;
          padding: 1rem;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    // border: 0;
    background-position: center;
    background-size: cover;

    >* {
      position: relative;

      //background-color: #fff;
    }
  }
}

.is-style-solid-header {
  .card-content {
    padding-left: 0px;
    padding-right: 0px;
  }

  .card-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0px;
      white-space: pre-line;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }

    p {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
}

.wp-block-lg-blocks-card.is-style-overlay {
  .card {
    img {
      position: relative;
    }

    .card-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      padding: 0;

      .card-body {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        padding: 0;
      }
    }
  }
}