.lg-cards {
  .card {
    max-width: none;
    padding: 0;
  }

  .block-list-appender {
    margin: 0;
    flex: 0 0 calc(100% - 2rem) !important;
    max-width: calc(100% - 2rem) !important;
  }

  .block-editor-block-list__layout {
    margin-left: 0;
    margin-right: 0;
  }

  >div>div>.block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;
  }

  @for $i from 1 through 6 {
    .has-#{$i}-columns>div>.block-editor-block-list__layout {
      gap: var(--gap);
      > * {
        box-sizing: border-box;
        flex: 0 0  calc( calc( 100% / $i ) - calc( var(--gap) - calc( var(--gap) / $i )));
        max-width: calc( calc( 100% / $i ) - calc( var(--gap) - calc( var(--gap) / $i )));
      }
     }
  }
}