.lg-advanced-map-block.root-created 
{
  min-width: 100px;
}

.lg-map-marker {
  width: auto;
  min-width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
  transition: min-width 0.2s ease-in;
  &:hover {
    z-index: 1;
    min-width: 65px;
  }

  &__icon {
    img {
      height: auto;
      width: auto;
      max-width: 100%;
    }
  }
  &__content {
    border: 2px solid #006480;
    position: relative;
    flex-direction: column;
    padding: 7px;
    background-color: #fff;
  }
  &__name {
    color: #006480;
    font-size: 14px;
    font-weight: bold;
  }
  &__address {
    font-weight: bold;
    color: #000000;
    font-size: 12px;
    white-space: pre;
  }
  &__tel {
    color: #d89b2b;
    &:hover {
      font-weight: bold;
    }
  }
  &__email {
    color: #000000;
  }
  &__website {
    color: #000000;
  }
  &__services {
    color: #000000;
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
    row-gap: 5px;
    column-gap: 5px;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &__service {
    color: #000000;
    flex: 0 1 calc(25% - 5px);
    img {
      max-width: 40px;
      max-height: 40px;
    }
  }
  &__dismiss {
    position: absolute;
    right: 7px;
    font-weight: bold;
  }

  .inner-triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #fff;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 10px);
    z-index: 5;
  }
  .outer-triangle {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 17px solid #006480;
    position: absolute;
    bottom: -18px;
    left: calc(50% - 12px);
    z-index: -5;
  }

  .show {
    display: flex;
    width: auto;
  }
  .hide {
    display: none;
  }
}

.lg-map-marker.adjust {
  transform: translate(-50%, -115%);
  z-index: 99;
}

.lg-cluster-marker {
  @extend .lg-map-marker;
  color: black;
  position: relative;
  .clusterpoints__text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
  }
  &.three-digit {
    min-width: 75px;
    .clusterpoints__text {
      transform: translate(-14px, 4px);
    }
  }
  &.two-digit {
    min-width: 60px;
    .clusterpoints__text {
      transform: translate(-9px, 3px);
    }
  }
  &.one-digit {
    .clusterpoints__text {
      transform: translate(-4px, -1px);
    }
  }
}
