/*.lg-tab {
  background-color: salmon;
}*/

$tabs: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15;
$colors: #00ffff, #000000, #0000ff, #ff00ff, #808080, #008000, #00ff00, #800000,
  #000080, #808000, #800080, #ff0000, #c0c0c0, #008080, #ffffff, #ffff00;

@each $tab in $tabs {
  $i: index($tabs, $tab);
  $color: nth($colors, $i);
  .tab-#{$tab} {
    outline: 1px solid $color;
    padding: 5px;
    .lg-blocks-tab__label {
      div {
        width: fit-content;
        border: 1px solid black;
        font-size: 1.2rem;
        padding: 5px;
      }
    }
  }
}
