.lg-pdf-viewer-block {
  .react-pdf__Document {
    position: relative;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    .open {
      display: flex;
      position: sticky;
      top: .25rem;
      right: 0.25rem;
      left: unset;
      z-index: 20;
      cursor: pointer;
      background-color: #000;
      padding: 0.5rem;
      width: fit-content;
      margin-left: auto;
    }
    .controls {
      background-color: #000;
      color: #fff;
      display: flex;
      position: sticky;
      top: 1rem;
      left: calc(50% - 100px);
      width: 15rem;
      opacity: 0.5;
      justify-content: space-evenly;
      z-index: 10;
      padding: .25rem .5rem;
      align-items: center;
      &__page-number {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 1ch;
        align-items: center;
        input {
          display: flex;
          width: auto;
          max-width: 3ch;
          background-color: transparent;
          border: 1px solid #fff;
          color: #fff;
          font-size: 1.125rem;
          text-align: center;
          padding: 0;
        }
        span {
          font-size: 1.125rem;
        }
      }

      
    }
  }
  
}