.is-style-fontawesome-marker {
    list-style-type: none;
    padding-inline-start: 0;
    li {
        margin-left: 2ch;
        position: relative;
    }

    li::before {
        font-family: var(--markerFamily);
        content: var(--markerContent);
        position: absolute;
        left: -20px;
    }

    li::marker {
        content: none;
    }
}