.multi-cta {
  &.align-ctas-left {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  &.align-ctas-center {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &.align-ctas-right {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
  .editor-block-list__layout {
    @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    > .wp-block {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1.5rem;
        @media only screen and (max-width: 600px) {
          margin-right: 0;
        }

        margin-bottom: 1.5rem;
      }
    }
  }
}
