.multi-cta {
  &.align-ctas-left {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      @media only screen and (max-width: 600px) {
        align-items: flex-start;
      }
    }
  }
  &.align-ctas-center {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &.align-ctas-right {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
  > div {
    .wp-block-button {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1.5rem;

        margin-bottom: 1.5rem;
      }
    }
  }
}
