.lg-responsive-image-block-edit {
  position: relative;
  .lg-responsive-image-block__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }
  .lg-responsive-image-block__image {
    .block-editor-media-placeholder {
      position: relative;
      z-index: 99;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}
