.lg-advanced-slider {
  //position: relative;
  background-color: #cdcdcd;
  min-height: 200px;
  .clickme {
    //position: absolute;
    //height: 100%;
    width: 100%;
    padding: 1em;
    background-color: #2d3258;
    color: #fff;
    z-index: 9999;
    font-size: 16px !important;
  }
  .swiper-slide {
    max-height: 600px;
    &-active {
      width: 100% !important;
    }
    //
    .lg-vimeo-mount-container {
      margin-top: -10em;
    }
    .video-slide {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .swiper-slide__content {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.block-editor-inner-blocks {
  width: 100%;
  > div {
    width: 100%;
    .active {
      width: 100%;
      .wp-block-lg-blocks-advanced-slide__video {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}



.lg-advanced-slider__preview {
  background-color: inherit !important;
  font-size: inherit;
}
