@import "swiper/css/bundle";

.wp-block-lg-blocks-advanced-slider {
  display: flex;

  .main {
    // order: 2;
    display: flex;
    // flex: 1 1 50%;
    background-color: inherit;
    .swiper-wrapper {
      //height: 100vh !important;
    }
    .swiper-slide {
      //width: 100% !important;
      &__content {
        position: absolute;
        top: 0;
        left: 0;
      }
      &__video {
        position: relative;
        width: 100%;
        padding-top: 177.78%;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      &__image {
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .swiper-button-disabled {
      pointer-events: all !important;
    }
    .swiper-button-prev {
        height: auto;
        width: auto;
        &::after {
          font: var(--fa-font-solid);
          content: "\f053";
        }
    }
    .swiper-button-next {
      height: auto;
      width: auto;
      &::after {
        font: var(--fa-font-solid);
        content: "\f054";
      }
    }
  }

  .thumb {
    display: flex;
    .no-swiper-slide-style {
      height: auto !important;
      transform: none !important;
    }
    .swiper-slide-active {
      position: relative;
      &::after {
        content: "";
        background-color: var(--wp--preset--color--primary);
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}

.lg-advanced-slider {
  .swiper-slide__content {
    font-size: initial;
  }
  .text-slide {
    min-height: 200px;
    height: fit-content;
    .swiper-slide__content {
      position: relative !important;
      top: unset !important; 
      left: unset !important;
    }
  }

  .swiper-pagination {
    color: inherit;

    .swiper-pagination-bullet {
      color: inherit;
      background-color: currentColor;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: inherit !important;
    background-color: inherit !important;

    &::after {
      font-size: inherit;
    }
  }
}

@media screen and (min-width: 768px) {
  .wp-block-lg-blocks-advanced-slider {
    .main {
      .swiper-slide {
        &__video {
          position: relative;
          width: 100%;
          padding-top: 56.25%;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}