#video-modal {
  .modal-content {
    border-radius: 0;
    border: 0;
  }
  .modal-body {
    position: relative;
    padding: 0;
  }

  .close {
    position: absolute;
    right: 0;
    top: -60px;
    z-index: 999;
    font-size: 4rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
  }
}
