.wp-block-lg-blocks-advanced-slide {
  position: relative;
  &__image {
    img {
      //max-height: 200px;
      //width: 100%;
    }
  }
  &__content {
    position: absolute;
    top: 1em;
    left: 1em;
  }
  &.active {
    > .wp-block-lg-blocks-advanced-slide__image {
      opacity: 0.6;
    }
    > .wp-block-lg-blocks-advanced-slide__content {
      padding: 1em;
      background-color: #ffffffcc;
    }
  }
}

.thumb-gallery {
  .wp-block-lg-blocks-advanced-slide {
    .swiper-slide__img {
      position: relative !important;
      height: auto;
    }
  }
}
