/**
* common css for all blocks only for backend.
*/

@import "blocks/AdvancedSlider/style.editor.scss";
@import "blocks/AdvancedSlider/AdvancedSlide/style.editor.scss";
@import "blocks/Tabs/style.editor.scss";

.wp-block {
  max-width: 1280px;
}

.wp-block[data-align="full"] {
  .img-text__inner,
  .wp-block-lg-blocks-video-banner {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.full-width {
  margin-left: 0;
  margin-right: 0;
  max-width: inherit;
  width: inherit;
  left: 0;
  right: 0;
}

//this fixes the issue where th cover block has very large height
.page-header {
  height: auto;
}

@media (min-width: 600px) {
}

@media (min-width: 600px) {
  .block-editor-block-list__layout
    .block-editor-block-list__block[data-align="full"] {
    .row-full {
      max-width: 100%;
      margin: 0;
    }
  }
}

.slider-wrapper {
  .wp-block {
    @extend .swiper-slide;
  }
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

h1,
h2,
h3,
h4,
h4 {
  line-height: 1;
}

h1 {
  letter-spacing: unset !important;
}
