.is-style-checkbox-icon {
  padding-left: 0;

  li {
    list-style-type: none !important;
    padding-left: 1.5em;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0.25rem;
      left: 0;
      height: 1em;
      width: 1em;
      mask-size: cover;
      mask-image: url(checkbox-rounded.svg);
      background-color: currentColor;
      display: inline-block;
    }
  }
}

.is-style-none {
  &,
  li {
    list-style-type: none !important;
    padding-left: 0 !important;
  }
}
